
<div class="all">
<%= render "shared/header" %>


<html>
<div class="title">
<% if user_signed_in?%>
  <h2><%= link_to current_user.nickname %></h2>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <h2>
  <%= link_to "新規登録", new_user_registration_path %></h2>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
</div>
<div class="menu">
<li>現在の体重
<%#= link_to current_user.weight main_path(@mains)%>
kg</li>

</div>

         <div class="naming">
            <li><%= link_to "一覧", main_path(@mains) %></li>
           </div>


    <div class="naming2">
            <li><%= link_to "今日のトレーニング", new_main_path %></li>
            </div>
        
    <main>
<section>
<body>

   <div class="mainimg">
              <image src="/assets/gym3.jpeg" alt="メイン画像">
              
        </div>
</section>

    </main>
		</body>
    <footer>
    <div class="col"><hr>
    Let's go  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<ul class="follow-me">
  <li><a href="https://twitter.com"></a></li>  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<ul class="follow-me2">
  <li><a href="https://www.youtube.com"></a></li>
    </div>  

   
    
<p id="pagetop"><a href="#">TOP</a></p>  
 </footer>  
</div>
</div>
</html>
</div>