
<div class="all">
<%= render "shared/header" %>


<html>

    <div class="mainimg">
              <img src="/assets/gymm.jpeg" alt="メイン画像">
        </div>
    <main>
<section>
<body>

 <% @mains.each do |main| %>

    <div class="matome" style="background-image: url(<%= main.image %>);">
    <ul>
		<%= image_tag main.image.variant(resize: '300x300'), class: "item-img" if main.image.attached? %>						
      </div>
			<li>
     <div class="matome2">
      <%= main.event.name %>
    
    <%= main.weight.name %>kg
    
			 <%= main.number.name %>回
			<%= main.sets.name %>セット
						<%= link_to '削除', main_path(main.id), method: :delete, class:"btn04",data: { confirm: '削除しますか？' } %>

				</div>
				</li>
				</ul>
    </div>
		<% end %>
</section>
    </main>
		</body>
    <footer>

    </footer>
    <div class="copyright">
<div class="container">
<div class="row">
    <div class="col"><hr>
    Let's go <a href="https://www.youtube.com/" target="_blank">youtube. </a>
    <%= link_to 'つぶやき', "https://twitter.com/t60312831", title: 'Twitter', target: '_blank', class:"twitter-text"%>
    </div>    
        </div>
    </div>
        </div>
<p id="pagetop"><a href="#">TOP</a></p>    
</div>
</div>
</html>
