<%= render "shared/header" %>
<div class="all">

<html>
<div class="title">
<% if user_signed_in?%>
  <h2><%= link_to current_user.nickname %></h2>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <h2>
  <%= link_to "新規登録", new_user_registration_path %></h2>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
</div>
<div class="menu">
<li>現在の体重
<%#= link_to current_user.weight main_path(@mains)%>
kg</li>

</div>

         <div class="naming">
            <li><%= link_to "一覧", main_path(@mains) %></li>
           </div>


    <div class="naming2">
            <li><%= link_to "今日のトレーニング", new_main_path %></li>
            </div>
        
    <main>
<section>
<body>
  <div class="mainimg">
              <image src="/assets/tore.jpeg" alt="メイン画像">
  </div>
  </div>
</section>
</body>
    
</div>
</div>
</html>
</div>

<%= render "shared/footer" %>