
<%= render "shared/header" %>


<%= form_with model: @main, url:mains_path, local: true do |f| %>
<label class="form-image">
<%= f.file_field :image, id:"item-image" %>

    </label>
  <div class="main-box">
    種目
    </div>
    <div class="event-select">
    <%= f.collection_select(:event_id, Event.all, :id, :name, {}) %>
    </div>

    <div class="main-box">
    重量
    </div>
    <div class="weight-select">
    <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}) %>
    </div>

    <div class="main-box">
    回数
    </div>
    <div class="number-select">
    <%= f.collection_select(:number_id, Number.all, :id, :name, {}) %>
    </div>

    <div class="main-box">
    セット数
    </div>
    <div class="set-select">
    <%= f.collection_select(:sets_id, Sets.all, :id, :name, {}) %>
    </div>
    
    <div class="cp-btn">
    <%= f.submit "登録" %>


  </div>
  
<% end %>


 